* {
    padding: 0;
    margin: 0;
}



body {
   /* background-image: url(./resources/images/bg.jpeg);*/
    background: linear-gradient(rgb(247, 158, 173),rgb(128, 0, 128));
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.taskbar {
    position: absolute;
    width: 100%;
    height: 40px;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.815);
    box-shadow: inset 550px 0 0 5550px rgba(255,255,255,0.3);
      backdrop-filter: blur(15px);
    overflow: hidden;
     z-index: 400;
}




.pinned-AllApps {
    position: relative;
    width: 100%-20px;
   padding: 25px 0px 0px 60px;
   z-index: 200;
}

.pinned {
     font-size: 15px;
}

.AllApps{
   position: absolute;
   top: 25px;
   right: 35px;
   font-size: 16px;
   width: 64px;
   height: 20px;
   background-color: #fff;
   border-radius: 4px;
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
}

#time, #day, #date {
    font-size: 11px;
    margin-left: 18px;
    font-weight: 600;
    margin-top: -2px;
}

.AllApps h6 {
    text-align: center;
    font-weight: 200px;
}

.AllApps h6 span {
    margin-left: 9px;
}

.icons-center {
    width: 100%;
    display: flex;
    justify-content: center;
    top: 2px;
}

.icons-right {
    position: absolute;
    right: 1vw;
    display: flex;
    top: 5px;
    z-index: 250;
}


.icons-right img {
    width: 18px;
    height: 18px;
    margin-left: 15px;
    margin-top: 5px;
}

.window-content {
     position: absolute;
     width: 100%;
     z-index: 100;
     display: flex;
     justify-content: center;
     bottom: 0vh;
     transition: ease-in .4s;
      z-index: 50;
}

.start-bar {
      background: transparent;
      width: 450px;
      height: 500px;
      position: absolute;
      box-shadow: inset 550px 0 0 5550px rgba(255,255,255,0.3);
      backdrop-filter: blur(15px);
      border-radius: 15px;
}


.Apps-pinned {
    position: relative;
    width: 98%;
    position: relative;
    margin-top: 8px;
    padding: 5px;
    float: left;
    font-size: small;
    display: flex;
    align-items: start;
    height: 30vh;
    flex-wrap: wrap;
    box-shadow: inset 0 0 0 5550px rgba(255,255,255,0.3);
}

.Apps-pinned div {
    position: relative;
    padding-left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.Apps-pinned img {
    width: 25px;
    height: 25px;
    padding-bottom: 5px;
}

.icons-center img{
    width: 25px;
    height: 25px;
    margin: 4px 15px 4px 15px;
    cursor: pointer;
     box-shadow: 0px 5px 5px 0px rgba(233, 225, 225, 0.5);
}

.icons-center #Start-menu , .icons-center  #Widget{
    width: 33px;
    height: 33px;
    margin: 0px 10px 0px 0px;
}

.More {
     position: absolute;
   top: 42vh;
   right: 35px;
   font-size: 16px;
   width: 64px;
   height: 20px;
   background-color: #fff;
   border-radius: 4px;
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
}

#Recommended {
    position: absolute;
    top: 242px;
    left: 50px;
}

#GoogleSearch{
      display: none;
}



.search-engine {
      background: transparent;
      width: 100%;
      height: 600px;
      position: absolute;
      top: 39px;
      display: flex;
      justify-content: center;
      border-radius: 15px; 
      transition: ease-in .4s;
}

.searchBar {
    position: absolute;
    width: 650px;
    bottom: 10vh;
    height: 500px;
    z-index: 300;
    box-shadow: inset 550px 0 0 5550px rgba(255,255,255,0.3);
      backdrop-filter: blur(15px);
      border-radius: 15px;
}

.searchByType {
    position: absolute;
    width: 100%;
    margin-left: 25px;
    padding-top: 5px;
}

.searchByType img {
    position: absolute;
    width: 22px;
    height: 22px;
    margin-left: 10px;
    padding: 5px;
    font-weight: 600;
    text-align-last: center;
}

input {
    padding-left: 45px;
}

.searchByType input {
    width: 85%;
    height: 26px;
}